#id{
  
}
#game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-image: url(../image/background.jpg);
}

form{
    text-align: center;
}
form button{
    margin-top: 10px;
}